<!DOCTYPE html>
<html>
<head>
    <title>Wiki Generator</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>

    <h1>Wiki Generator</h1>

    <p>
        Enqueued for analysis: {{url}}
    </p>

    <a href="/">
        Return to repositories
    </a>

</body>
</html>
